<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/banhangonline</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">abc123</property>
    <mapping resource="com/java/model/Sanpham.hbm.xml"/>
    <mapping resource="com/java/model/Loaitin.hbm.xml"/>
    <mapping resource="com/java/model/Quyen.hbm.xml"/>
    <mapping resource="com/java/model/Binhluansanpham.hbm.xml"/>
    <mapping resource="com/java/model/Loaisanpham.hbm.xml"/>
    <mapping resource="com/java/model/Binhluantintuc.hbm.xml"/>
    <mapping resource="com/java/model/Donhang.hbm.xml"/>
    <mapping resource="com/java/model/User.hbm.xml"/>
    <mapping resource="com/java/model/Tintuc.hbm.xml"/>
    <mapping resource="com/java/model/Chitietdonhang.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
